# Example tfvars for tst environment
# Copy this file and replace values for your environment
# Do NOT commit files with real values

environment = "tst"
application = "platform"
region      = "eu-west-1"

vpc_cidr           = "10.0.0.0/16"
enable_nat_gateway = true
single_nat_gateway = true   # Single NAT for cost saving in tst
enable_flow_logs   = true

tags = {
  CostCenter = "engineering"
}
